<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="register" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Your Name" name="name">
    <input type="number" placeholder="Your Mobile No." name="phone">
    <input type="text" placeholder="create username" name="user" required>
    <input type="password" placeholder="create password" name="pasw" required>
    <input type="submit" value="Register">
</form>

</body>
</html>